* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.carousel {
  text-align: center;
}

.left-button {
  position: absolute;
  top: 70px;
  left: 0;
}

.right-button {
  position: absolute;
  top: 70px;
  right: 0;
}

.carousel-slides {
  font-size: 0;
  display: inline-block;
}

.visible {
  border: 1px solid black;
  width: 100px;
  height: 200px;
  display: inline-block;
  margin: 1px;
}

@media (min-width: 1250px) {
  .carousel-slide {
    border: 1px solid black;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 1px;
  }
  .left-button {
    display: none;
  }

  .right-button {
    display: none;
  }

}